@page "/"
@using NutritionTrackR.Contracts.Food
@using NutritionTrackR.Web.Components.Pages.FoodSearch.AddFood
@using NutritionTrackR.Web.Components.Services

@inject FoodListAdapter FoodListAdapter
@inject IDialogService DialogService

<h3>NutritionDay</h3>

@* TODO räkna ut för carbs protein och fat *@
@* <div class="d-flex gap-3"> *@
@*     <MudProgressLinear Color="Color.Primary" Rounded="true" Size="Size.Small" Value="25" /> *@
@*     <MudProgressLinear Color="Color.Secondary" Rounded="true" Size="Size.Small" Value="75" /> *@
@*     <MudProgressLinear Color="Color.Tertiary" Rounded="true" Size="Size.Small" Value="55" /> *@
@* </div> *@
@* *@
<MudDropContainer T="FoodSelector" Items="@_foods" @ref="_container" ItemsSelector="@((item, dropzoneId) => item.ZoneId == dropzoneId)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
    <ChildContent>
        @foreach (var mealZone in _mealZones)
        {
            <MudPaper Class="ma-4 flex-grow-1">
                <MudList T="string" Class="d-flex flex-column mud-height-full">
                    <MudText Typo="Typo.h6" Align="Align.Center">@mealZone.ZoneId</MudText>
                    <MudDropZone T="FoodSelector" Identifier="@mealZone.ZoneId" Class="flex-grow-1" AllowReorder="true"/>
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary"></MudButton>
                </MudList>
            </MudPaper>
        }
    </ChildContent>
    <ItemRenderer>
        <MudListItem T="FoodSelector">
            <div class="d-flex justify-space-between">
                <MudText>@context.Name</MudText>
                <MudText>@context.DisplayWeight()</MudText>
            </div>
        </MudListItem>
    </ItemRenderer>
</MudDropContainer>

<MudAutocomplete T="FoodDto" ValueChanged="SelectFood" SearchFunc="SearchFood" ToStringFunc="@(food => food is null ? null : $"{food.Name}")"/>

@code {
    private MudDropContainer<FoodSelector> _container;
    private List<FoodSelector> _foods = [];

    private void RefreshContainer()
    {
        StateHasChanged();
        _container.Refresh();
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateFoodList();

        //TODO move to separate class
        _searchedFood = await FoodListAdapter.GetFoodItems();
        _filteredFoods = _searchedFood;
    }

    private async Task UpdateFoodList()
    {
        var foods = await FoodListAdapter.GetLoggedFood();
        _foods = foods.Select(f => new FoodSelector(f) { ZoneId = GetZoneId(f.MealType) }).ToList();
        RefreshContainer();
    }

    private List<FoodDto> _searchedFood = [];
    private List<FoodDto> _filteredFoods = [];
    private FoodDto foodToAdd;

    private class FoodSelector : FoodDto
    {
        public string ZoneId { get; set; }

        public FoodSelector(FoodDto foodDto)
        {
            Name = foodDto.Name;
            Nutrients = foodDto.Nutrients;
            Amount = foodDto.Amount;
            Unit = foodDto.Unit;
            MealType = foodDto.MealType;
        }

        public string DisplayWeight() => $"{Amount} {Unit.ToString()}";
    }

    private static void ItemUpdated(MudItemDropInfo<FoodSelector> dropItem) => dropItem.Item.ZoneId = dropItem.DropzoneIdentifier;

    private readonly List<DropZone> _mealZones =
    [
        new DropZone { ZoneId = "Breakfast", MealType = MealTypeDto.Breakfast },
        new DropZone { ZoneId = "Lunch", MealType = MealTypeDto.Lunch },
        new DropZone { ZoneId = "Dinner", MealType = MealTypeDto.Dinner },
        new DropZone { ZoneId = "Snacks", MealType = MealTypeDto.Snack }
    ];

    private class DropZone
    {
        public string ZoneId { get; init; }
        public MealTypeDto MealType { get; init; }
    }

    private string GetZoneId(MealTypeDto mealType) => mealType switch
    {
        MealTypeDto.Breakfast => "Breakfast",
        MealTypeDto.Lunch => "Lunch",
        MealTypeDto.Dinner => "Dinner",
        MealTypeDto.Snack => "Snacks"
    };

    private Task<IEnumerable<FoodDto>> SearchFood(string searchTerm, CancellationToken cancellationToken)
    {
        if (string.IsNullOrEmpty(searchTerm))
        {
            return Task.FromResult(Enumerable.Empty<FoodDto>());
        }

        var searchedFoods = _searchedFood.Where(food => food.Name.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase));

        return Task.FromResult(searchedFoods);
    }

    private async Task SelectFood(FoodDto selectedFood)
    {
        DialogOptions options = new() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<FoodDetails>
        {
            { x => x.Food, selectedFood },
            { x => x.OnFoodAdded, EventCallback.Factory.Create(this, UpdateFoodList) }
        };

        //TODO callback
        var dialog = await DialogService.ShowAsync<FoodDetails>(selectedFood.Name, parameters, options);
        var result = await dialog.Result;
    }

}