@page "/"
@using NutritionTrackR.Contracts.Food
@using NutritionTrackR.Contracts.Nutrition.Target
@using NutritionTrackR.Web.Components.Pages.FoodSearch.AddFood
@using NutritionTrackR.Web.Components.Pages.NutritionTarget
@using NutritionTrackR.Web.Components.Services

@inject FoodListAdapter FoodListAdapter
@inject NutritionTargetAdapter NutritionTargetAdapter
@inject IDialogService DialogService

<h3>NutritionDay</h3>

<div class="d-flex">
    <MudButton OnClick="GetPreviousNutritionDay">Previous Day</MudButton>
    <MudText>@CurrentDate</MudText>
    <MudButton OnClick="GetNextNutritionDay">Next Day</MudButton>
</div>

<MudDropContainer T="FoodSelector" Items="@Foods" @ref="_container" ItemsSelector="@((item, dropzoneId) => item.ZoneId == dropzoneId)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
    <ChildContent>
        @foreach (var mealZone in _mealZones)
        {
            <MudPaper Class="ma-4 flex-grow-1">
                <MudList T="string" Class="d-flex flex-column mud-height-full">
                    <MudText Typo="Typo.h6" Align="Align.Center">@mealZone.ZoneId</MudText>
                    <MudDropZone T="FoodSelector" Identifier="@mealZone.ZoneId" Class="flex-grow-1" AllowReorder="true"/>
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary" OnClick="() => AddFoodToMeal(mealZone.MealType)"></MudButton>
                </MudList>
            </MudPaper>
        }
    </ChildContent>
    <ItemRenderer>
        <MudListItem T="FoodSelector">
            <div class="d-flex justify-space-between">
                <MudText>@context.Name</MudText>
                <MudText>@context.DisplayWeight()</MudText>
            </div>
        </MudListItem>
    </ItemRenderer>
</MudDropContainer>


<MudDataGrid T="NutrientDto" Items="@Nutrients">
    <Columns>
        <HierarchyColumn T="NutrientDto"/>
        <PropertyColumn Property="x => x.Name" Title="Nutrient"/>
        <PropertyColumn Property="x => x.DisplayWeight()" Title="Weight"/>
        <TemplateColumn Title="Progress">
            <CellTemplate>
                @if (DailyNutritionTarget != null)
                {
                    <div class="d-flex align-items-center gap-3">
                        <MudText>@(context.Item.Weight + "/" + DailyNutritionTarget.GetNutrientTarget(context.Item) + " " + context.Item.Unit)</MudText>
                        <MudProgressLinear Value="@(DailyNutritionTarget.GetProgress(context.Item))" Min="0" Max="100" Color="Color.Primary"/>
                    </div>
                }
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@context.Item.Name</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="NutrientDto" />
    </PagerContent>
</MudDataGrid>

@code {
    private MudDropContainer<FoodSelector> _container = new();
    private List<FoodSelector> Foods { get; set; } = [];
    private List<NutrientDto> Nutrients { get; set; } = [];
    private DailyNutritionTarget DailyNutritionTarget { get; set; }

    private DateOnly CurrentDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);

    private void RefreshContainer()
    {
        StateHasChanged();
        _container.Refresh();
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeNutrientTarget();
        await UpdateFoodList();
    }
    
    private async Task InitializeNutrientTarget()
    {
        var nutritionTarget  = await NutritionTargetAdapter.GetNutritionTarget();
        DailyNutritionTarget = new DailyNutritionTarget(nutritionTarget.Nutrients);
    }

    private async Task UpdateFoodList()
    {
        var foods = await FoodListAdapter.GetLoggedFood(CurrentDate);
        Foods = foods.Select(f => new FoodSelector(f)).ToList();
        RefreshContainer();
        CalculateNutrition();
    }

    private async Task AddFoodToMeal(MealTypeDto mealType)
    {
        DialogOptions options = new() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<FoodSearchDialog>
        {
            { x => x.SelectedMealType, mealType },
            { x => x.OnFoodAdded, EventCallback.Factory.Create(this, UpdateFoodList) }
        };

        var dialog = await DialogService.ShowAsync<FoodSearchDialog>("Food Search", parameters, options);
        var result = await dialog.Result;
    }

    private static void ItemUpdated(MudItemDropInfo<FoodSelector> dropItem)
    {
        dropItem.Item.ZoneId = dropItem.DropzoneIdentifier;
        dropItem.Item.MealType = FoodSelector.GetMealType(dropItem.DropzoneIdentifier);
    }

    private readonly List<DropZone> _mealZones =
    [
        new() { ZoneId = "Breakfast", MealType = MealTypeDto.Breakfast },
        new() { ZoneId = "Lunch", MealType = MealTypeDto.Lunch },
        new() { ZoneId = "Dinner", MealType = MealTypeDto.Dinner },
        new() { ZoneId = "Snacks", MealType = MealTypeDto.Snack }
    ];

    private class DropZone
    {
        public string ZoneId { get; init; }
        public MealTypeDto MealType { get; init; }
    }

    private void CalculateNutrition()
    {
        var dictionary = new Dictionary<string, NutrientDto>();
        
        foreach (var food in Foods)
        {
            foreach (var nutrient in food.Nutrients)
            {
                if (dictionary.TryGetValue(nutrient.Name, out var dictionaryNutrient))
                {
                    dictionaryNutrient.Weight += nutrient.Weight;
                }
                else
                {
                    dictionary.Add(nutrient.Name, nutrient);
                }
            }
        }

        Nutrients = dictionary.Values.ToList();
    }

    private async Task GetPreviousNutritionDay()
    {
        CurrentDate = CurrentDate.AddDays(-1);
        
        await UpdateFoodList();
    }
    
    private async Task GetNextNutritionDay()
    {
        CurrentDate = CurrentDate.AddDays(1);

        await UpdateFoodList();
    }
}
